.App {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

.post-buttons {
  display: flex;
  align-items: center;
}

.post-buttons .MuiSvgIcon-root {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, color 0.3s ease;
}

.post-buttons .MuiSvgIcon-root:hover {
  transform: scale(1.2);
}

.liked .post-buttons .MuiSvgIcon-root {
  color: #cd74d4;
}

.post {
  text-align: left;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  padding-bottom: 5px;
}

.post-buttons {
  margin-bottom: 10px;
}

.router-link {
  text-decoration: none;
  color: white;
}

.router-log-out {
  position: fixed;
  top: 50px;
  left: 50px;
  text-decoration: none;
  color: #000000;
  z-index: 999;
  cursor: pointer;
}

.router-log-out:hover {
  text-decoration: underline;
}